1.Write a code to create a string with your name and print it?

In [1]:
Name="Ankan"
print(Name)

Ankan

2.Write a code to find the length of the string "Hello World"?

In [3]:
A="Hello World"
len(A)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
text="Python Programming"
sliced_text=text[:3]
print(sliced_text)

Pyt

4.Write a code to convert the string "hello" to uppercase?

In [13]:
text="hello"
uppercase_text=text.upper()
print(uppercase_text)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [14]:
text="I like apple"
modified_text=text.replace("apple","orange")
print(modified_text)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [15]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [16]:
numbers=[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [17]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [18]:
elements=["a","b","c","d"]
second_element=elements[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].?

In [19]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [20]:
elements=(10,20,30)
print(elements)

(10, 20, 30)

12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [21]:
fruits=("apple","banana","herry")
first_element=fruits[0]
print(first_element)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).?

In [22]:
tuple=(1,2,3,2,4,2)
tuple.count(2)

3

14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [23]:
animals=("dog","cat","rabbit")
animals.index("cat")

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [24]:
fruits=("apple","orange","banana")
if "banana" in fruits:
    print("banana is in fruits")
else:
    print("banana is not in fruits")

banana is in fruits

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [25]:
elements={1,2,3,4,5}
print(elements)

{1, 2, 3, 4, 5}

17.Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [26]:
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

18.Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [27]:
tuple=(10,20,30)
print(tuple)

(10, 20, 30)

19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [28]:
tuple=("apple","banana","cherry")
first_element=tuple[0]
print(first_element)

apple

20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [29]:
tuple=(1,2,3,2,4,2)
tuple.count(2)

3

21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [30]:
tuple=("dog","cat","rabbit")
tuple.index("cat")

1

22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [31]:
tuple=("apple","banana","orange")
if "banana" in tuple:
    print("banana is in tuple")
else:
    print("banana is not in tuple")

banana is in tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [32]:
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

24.Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [34]:
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}